<!DOCTYPE html>
<html>
<head>
	<title>Upload Image</title>
</head>
<body>
<form class="form-horizontal col-md-6 col-md-offset-1" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}
<div class="fieldWrapper">
  {{ field.errors }}
  {{ field.label_tag }} {{ field }}
  {% if field.help_text %}
  <p class="help">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endfor %}
<button type="submit" class="btn btn-default">
   Enviar
</button>
</form>
</body>
</html>
