<!DOCTYPE html>
<html>
    <head>
        <script src="./index.js"></script>
        <link rel="stylesheet" type="text/css" href="./index.css">
        <link rel="icon" href="./favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, nofollow">
        <meta name="revisit-after" content="30 days">
        <link rel="manifest" href="/manifest.json">
        <title>Map-Pixel-Classifier</title>
    </head>
    <header id="MainHeader">
        <span class="MainMenuToggle" onclick="toggleMainMenu()">&#9776;</span>
    </header>
    <body>
        <div id="MainMenu">
            <div id="MainMenuEmptySpace"></div>
            <button class="MainMenuOption" onclick="setFrame('./app/home/index.html')">Home</button>
            <button class="MainMenuOption" onclick="setFrame('./app/blog/index.html')">Map</button>
            <button class="MainMenuOption" onclick="setFrame('./d/index.html')">List</button>
            <button class="MainMenuOption" onclick="setFrame('./d/upload.html')">Upload</button>
            </div>
        <iframe id="DynamicFrame" frameBorder="0" src="./app/home/index.html"></iframe>
    </body>
</html>
